.clear { clear: both; height: 0px; line-height: 0; margin: 0; padding: 0; _height: 0px; }
.in, .abb-weather span, .abb-time span, .abb-time em, .abb-menu-box ul li, .abb-hotel-name ul li, .abb-hp-HelpTip ul li, .icon-release { display: inline-block; *display: inline; *zoom: 1; }
html { font-family: 'Microsoft YaHei','STXihei', sans-serif,Verdana; /* 1 */ -ms-text-size-adjust: 100%; /* 2 */ -webkit-text-size-adjust: 100%; /* 2 */ -webkit-overflow-scrolling: touch; /* 0 */ font-size: 312.5%; /* 0 */ overflow: hidden; }
body, html { margin: 0px; /* 1 */ font-size: 16px; width: 100%; height: 100%;padding:0px; }
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary { display: block; }
b, strong { font-weight: bold; }
img { border: 0; /* 1 */ vertical-align: middle; /* 0 */ -ms-interpolation-mode: bicubic; /* 2 */ }
em, i { font-style: normal; }
svg:not(:root) { overflow: hidden; }
ul, ol, li, dl, dd { margin: 0; padding: 0; }
ul, ol { list-style: none outside none; }
h1, h2, h3 { font-weight: normal; }
h1, h2, h3, h4, h5, h6, hr, dt, dd, dl { font-size: 12px; margin: 0; padding: 0; font-weight: normal; }
em, i { font-style: normal; }
a{ text-decoration: none; }
.header{
     height: 42px;
     width: 100%;
     margin: 0 auto;
     background: #393a3e;
}
.header ul{
    width: 800px;
    margin: 0 auto;
}
.header li{
    float: left;
    line-height: 42px;
    padding: 0 50px;
    font-size: 16px;
}
.header li a{
    line-height: 42px;
    color: #fff;
}
.index-main{
    width: 800px;
    margin: 0 auto;
    height: 600px;
    text-align: center;
    padding-top: 30px;
}
.contact-main{
    width: 800px;
    margin: 0 auto;
    height: 600px;
    text-align: center;
    padding-top: 30px;
}

.companyMain{
    width: 800px;
    margin: 0 auto;
}
.company-left{
    width: 150px;
    float: left;
    padding-top: 10px;
}
.company-left li{
     height: 40px;
     line-height: 40px;
}
.company-left li a{
    color: #000;
    display: block;
    text-align: center;
}
.company-right{
    width: 630px;
    float: right;
}
.company-detail{
    padding: 30px;
    padding-top: 10px;
}
.company-detail h1{
    height: 40px;
    line-height: 40px;
    font-size: 24px;
    text-align: center;
}
.company-detail .content{
    text-align: left:
}

.case-left{
    width: 150px;
    float: left;
    padding-top: 10px;
}
.case-left li a{
    color: #000;
    display: block;
    text-align: center;
}
.case-right{
    width: 630px;
    float: right;
}
.case-title{
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    text-align: center;
}

.case-list .img{
   width: 100px;
   height: 100px;
}
.case-list .img img{
    width: 100px;
    height: 100px;
}
.case-list td h1{
    height: 30px;
    line-height: 30px;
    font-size: 14px;
}
.case-list td p{
    line-height: 30px;
    font-size: 12px;
}

.page-list .pagination {float:left;}
.page-list .pagination span {cursor: pointer;}
.page-list .pagination .separate span{cursor: default; border-top:none;border-bottom:none;}
.page-list .pagination .separate span:hover {background: none;}
.page-list .page-total {float:left; margin: 25px 20px;}
.page-list .page-total input, .page-list .page-total select{height: 26px; border: 1px solid #ddd;}
.page-list .page-total input {width: 40px; padding-left:3px;}
.page-list .page-total select {width: 50px;}